@using ChatRoomAsp.Models.Entities.Auth;
@model LoginVM
<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="~/Dependecies/Css/Login.css">

</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form asp-controller="Login" asp-action="Login" method="post">
            <label asp-for="UserName">Username:</label>
            <input asp-for="UserName" required>
            <span asp-validation-for="UserName"></span>
            <label asp-for="PhoneNumber">Phone:</label>
            <input asp-for="PhoneNumber" required>
            <span asp-validation-for="PhoneNumber"></span>
            <input type="submit" value="Login">
        </form>
    </div>

    <script src="~/Dependecies/Js/Login.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>

