<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Chat</h3>
        </div>
        <div class="panel-body">
            <div class="chat-conversation">
                <ul id="list_conversation" class="conversation-list nicescroll">
                    <li class="clearfix">
                        <div class="chat-avatar">
                            <img src="~/Template/images/avatar-1.jpg" alt="male">
                            <i>10:00</i>
                        </div>
                        <div class="conversation-text">
                            <div class="ctext-wrap">
                                <i>John Deo</i>
                                <p>Hello!</p>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix odd">
                        <div class="chat-avatar">
                            <img src="~/Template/images/avatar-1.jpg" alt="Female">
                            <i>10:01</i>
                        </div>
                        <div class="conversation-text">
                            <div class="ctext-wrap">
                                <i>Smith</i>
                                <p>
                                    Hi, How are you? What about our next meeting?
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-sm-9 chat-inputbar">
                        <input id="messageText" type="text" class="form-control chat-input" placeholder="Enter your text">
                    </div>
                    <div class="col-sm-3 chat-send">
                        <button onclick="sendText()" class="btn btn-info btn-block waves-effect waves-light">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/SignalRLib.js"></script>
<script src="~/js/ClientSignalR.js"></script>



