@using ChatRoomAsp.Models.Entities;
@model GroupNameVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowListGroups</title>
</head>
<body>
    <p>
        @Model.Guid
    </p>
</body>
</html>
